* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  border: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: 'unit-thin';
  src: url("../../fonts/unit-thin.eot");
  src: url("../../fonts/unit-thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/unit-thin.woff") format("woff"), url("../../fonts/unit-thin.ttf") format("truetype"), url("../../fonts/unit-thin.svg#unit-thin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'unit-light';
  src: url("../../fonts/unit-light.eot");
  src: url("../../fonts/unit-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/unit-light.woff") format("woff"), url("../../fonts/unit-light.ttf") format("truetype"), url("../../fonts/unit-light.svg#unit-light") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #E5E2DE url("../../images/background.png") 0 0 no-repeat;
  font-size: 16px; }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 15px; } }
  @media only screen and (max-width: 800px) {
    body {
      font-size: 13px; } }

h2 {
  font-family: 'unit-thin';
  margin: 8px 11px 10px;
  letter-spacing: 0.3px; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

#terminplaner {
  position: relative;
  top: 92px;
  left: 340px;
  width: 781px;
  height: 786px;
  background: white;
  font-family: 'unit-light';
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden; }
  #terminplaner .header {
    position: relative;
    border-bottom: 1px solid #ebebeb; }
    #terminplaner .header .control {
      text-align: center;
      margin-bottom: 6px;
      font-size: 1.1em; }
      #terminplaner .header .control .prev, #terminplaner .header .control .next {
        padding: 5px;
        cursor: pointer; }
    #terminplaner .header .month {
      position: absolute;
      bottom: 5px;
      right: 6px;
      width: 28px;
      height: 22px;
      background: url("../../images/month.png") 0 0 no-repeat;
      cursor: pointer; }
    #terminplaner .header .slider {
      position: absolute;
      top: -3px;
      right: 6px;
      width: 7px;
      height: 7px;
      background: url("../../images/slider.png") 0 0 no-repeat;
      cursor: pointer; }
  #terminplaner .table {
    width: 781px;
    height: 714px;
    overflow: scroll;
    position: relative; }
  #terminplaner table thead tr {
    height: 33px; }
  #terminplaner table thead td {
    text-align: center;
    line-height: 33px;
    border-top: 0; }
    #terminplaner table thead td.active {
      background: #f2f2f2; }
    #terminplaner table thead td.over #terminplaner table thead td.free {
      color: rgba(0, 0, 0, 0.5); }
  #terminplaner table tbody tr {
    height: 132px; }
    #terminplaner table tbody tr:nth-child(even) td.active {
      background: #f2f2f2; }
    #terminplaner table tbody tr:nth-child(odd) td.active {
      background: #edecec; }
  #terminplaner table tbody td {
    vertical-align: top; }
  #terminplaner table tbody .hour {
    padding-top: 8px;
    vertical-align: top;
    text-align: center; }
  #terminplaner table td {
    border: 1px solid #ebebeb;
    min-width: 107px; }
    #terminplaner table td:first-of-type {
      border-left: 0; }
  #terminplaner table .hour {
    font-size: 0.9em; }

.over {
  background: rgba(253, 212, 102, 0.5) !important; }

.event {
  width: 107px;
  border: 1px solid white;
  font-size: 0.75em;
  cursor: move; }
  .event.drag {
    opacity: 0.5; }
  .event.q1 {
    height: 33px; }
  .event.q2 {
    height: 66px; }
  .event.q3 {
    height: 99px; }
  .event.q4 {
    height: 132px; }
  .event.past {
    background: #d6ecff; }
    .event.past .icon {
      background-position: 0 -13px; }
  .event.present {
    background: #fdd466; }
    .event.present .icon {
      background-position: 0 0; }
  .event.future {
    background: #93d7fb; }
    .event.future .icon {
      background-position: 0 13px; }
  .event.empty {
    background: none;
    border: 0; }
  .event .hours, .event .description {
    margin: 1px 0 0 1px; }
  .event .icon {
    position: absolute;
    display: block;
    right: 3px;
    bottom: 4px;
    opacity: 0.7;
    cursor: pointer;
    background-image: url("../../images/icons-sprite.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 13px; }
    .event .icon:hover {
      background-position: 0 -26px; }
